<div class="block-style">
  <h1 class="title-block">Forms styles </h1>
  <cdk-accordion class="example-accordion">
    <ng-container >
      <cdk-accordion-item *ngFor="let item of ( stateList$ | async ) ; let index = index;"
                          #accordionItem="cdkAccordionItem"
                          class="example-accordion-item" role="button" tabindex="0"
                          [attr.id]="'accordion-header-' + index"
                          [attr.aria-expanded]="accordionItem.expanded"
                          [attr.aria-controls]="'accordion-body-' + index">
        <ng-container>
<!--          <pre>{{item | json}}</pre>-->
          <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
            {{ item.type | uppercase }}
            <span class="example-accordion-item-description">
                Click to {{ accordionItem.expanded ? 'close' : 'open' }}
            </span>
          </div>
          <div class="example-accordion-item-body" role="region" [style.display]="accordionItem.expanded ? '' : 'none'"
               [attr.id]="'accordion-body-' + index" [attr.aria-labelledby]="'accordion-header-' + index">
            <ul>
              <li class="styles" *ngFor="let elem of  item.styles | keyvalue ">
<!--                <pre>{{elem.key}}</pre>-->
                <div><span>{{elem.key}}</span>: <span *ngIf="!isEditList.includes(elem.key)">{{elem.value}}</span>
                  <form *ngIf="isEditList.includes(elem.key)" class="styles-changes-block" action="#"
                        (ngSubmit)="onEditMode( item.id, elem.key, value )">
                    <input type="text" name="name" [value]="elem.value" [(ngModel)]="value">
                    <button [disabled]="!value">ok</button>
                    <button type="button" (click)="cancelEdit(elem.key)">X</button>
                  </form>
                </div>
                <button *ngIf="!isEditList.includes(elem.key)" (click)="onEdit( elem.key )">Edit</button>
              </li>
            </ul>
          </div>
        </ng-container>
      </cdk-accordion-item>
    </ng-container>
  </cdk-accordion>
</div>
